* {
    margin: 0px;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: gray;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: aquamarine;

}

nav a {
    text-decoration: none;
    margin: 4px;
    color: black;
    font-weight: bold;
}

.article {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 20px;
    margin: 20px;
    height: 150px;
    border: 2px solid;
    border-radius: 4px;
    background-color: aquamarine;
}

img, p {
    padding-inline: 10px;
}

.imagesontop {
    position: absolute;
    bottom: 0;
}

#portfolio {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 20px;
    margin: 20px;
    height: 600px;
    border: 2px solid;
    border-radius: 4px;
    background-color: aquamarine;
}