* {
    margin: 0px;
    font-family: Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: gray;

}

nav a {
    text-decoration: none;
    margin: 4px;
    color: black;
    font-weight: bold;
}