* {
    margin: 0px;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: gray;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: aquamarine;

}

nav a {
    text-decoration: none;
    margin: 4px;
    color: black;
    font-weight: bold;
}

#about-me {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 20px;
    margin: 20px;
    height: 150px;
    border: 2px solid;
    border-radius: 4px;
    background-color: aquamarine;
}

p {
    flex-wrap: wrap;
}

.imagesontop {
    position: absolute;
    bottom: 0;
}

h2 {
    border: 2px solid;
    width: 300px;
    text-align: center;
    margin-bottom: 4px;
}

h3 {
    border: 2px solid;
    width: 300px;
    height: 20px;
    text-align: center;
    margin-bottom: 4px;
    display: flex;
    position: relative;
    
}

#my-portfolio {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 20px;
    margin: 20px;
    height: 700px;
    border: 2px solid;
    border-radius: 4px;
    background-color: aquamarine;
}

h4 {
    padding: 20px;
    font-size: x-large;
}

#contact-me {
    text-align: center;
    margin-bottom: 40px;
    background-color: aquamarine;
    margin: 20px;
    border: 2px solid;
    border-radius: 4px;
    padding: 10px;
    
}

#contact-me a {
    text-decoration: none;
    padding: 8px;
    color: black;
    font-weight: bold;
}

