body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#link-style:hover {
  transition: ease-in 250ms;
}

#submit-btn:hover {
  transform: scale(1.25);
  transition: all 250ms;
}

.container-fluid {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #FFF;
}

/* ============= Animation background ========= */
.background {
  background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0px;
}

.background-portfolio {
  background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0px;
  scroll-behavior: smooth;
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #D7D4E4;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) {
  border-color: #FFF;
}

.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}

.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}

.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}

.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}

.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}

.drop-btn {
  display: none;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }

  to {
    transform: scale(12) rotate(960deg) translate(-40%, -40%);
    opacity: 0;
  }
}

@media screen and (min-width: 1301px) {
  h1 {
    font-size: 90px;
  }

  h4 {
    font-size: 40px;
  }

  p {
    font-size: 30px;
  }

  #link-style {
    font-size: 30px;
  }

  #link-style:hover {
    font-size: 250%;
  }
}

@media (min-width: 601px) and (max-width: 1300px) {
  h1 {
    font-size: 70px;
  }

  h4 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
  }

  .card {
    width: 80%;
  }

  #link-style {
    font-size: 20px;
  }

  #link-style:hover {
    font-size: 150%;
  }

  .icons {
    position: absolute;
    bottom: 10%;
  }

  .icons-2 {
    position: absolute;
    bottom: 1%;
  }
}

@media screen and (max-width: 600px) {
  h1.home {
    font-size: 70px;
    margin-left: 15%;
  }

  h1 {
    font-size: 70px;
  }

  h4 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
  }

  li {
    font-size: 20px;
  }

  .card {
    width: 80%;
  }

  #link-style {
    font-size: 20px;
  }

  #link-style:hover {
    font-size: 150%;
  }

  .nav-menu {
    display: none;
  }

  .drop-btn {
    display: flex;
    position: absolute;
    padding: 4px;
  }
  
}