body {
    background-image: url(./img/pexels-adrien-olichon-2387793.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Mulish', sans-serif;
    min-height: 100vh;
}

main {
    margin: 30px;
}

h1 {
    position: relative;
    display: flex;
    justify-content: center;
    top: 50px;
    color: rgb(231, 229, 229);
    font-size: 300%;
}

nav a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    margin: 10px;
    margin-top: 50px;
    color: rgb(231, 229, 229);
}

.card {
    background: rgb(231, 229, 229);
    border: 1px solid;
    border-radius: 15px;
    opacity: 0.9;
}

.card img {
    object-fit: contain;
}
